table tr th{
    background-color: lightgray;
    padding: 10px;
}
table tr td{
    padding: 10px;
}
table{
    width: 80%;
    margin: 0 auto;
    background-color:white;
}
table tr{
    border-radius: 5px;
}